body{
background-color: #0d0d0d;
color: white;
margin-left: 10vw;
margin-right: 10vw;
font-family: SF Mono, monospace;
font-display: fallback;
}

/* Make images not flow over the designated content width */
img {
    max-width: 100%;
    height: auto;
}

/* Tell sidebar to stay put on the right */
aside{
    float:right;
}

/* Change seperator element color for more subtle-ness */
hr{
    color: #2e2e2e;
    border-color: #2e2e2e;
    border-style: solid;
}

/* Used for navbar styling */
.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.flex-container > a {
    margin-bottom: 0.5rem;
    text-align: center;
}

.mobilesidebar {
    visibility: hidden;
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0px;
    bottom: 3.6rem;
    width: 100vw;
    margin: bottom 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-top: 2px solid #2e2e2e;
}

.mobiletitle {
    display: none;
}

.title {
    display: block;
}

.mobilesidebar > a {
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
}

/* Show navbar on the bottom for mobile devices */
@media only screen and (orientation: portrait) {
    .flex-container {
        position: fixed;
        left: 0px;
        margin-left: 0vw;
        margin-right: 0vw;
        bottom: 0px;
        margin: bottom 0px;
        width: 100vw;
        background-color: #0d0d0d;
        border-top: 2px solid #2e2e2e;
    }
    .flex-container > a {
        width: 15%;
        margin-top: 0.6rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .mobilesidebar {
        visibility: visible;
    }
    .mobiletitle {
        display: block;
    }
    .title {
        display: none;
    }
    body {
        padding-bottom: 6rem;
    }
}

/* Change links to be white */
a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/* Hover glow effect for links */
a:hover{
    text-shadow: 0px 0px 2px #0070c0, 0px 0px 5px #008bd4, 0px 0px 10px #00a2e5;
}

/* Statuscafe stuff */
#statuscafe-username {
    font-size: 16px;
}
#statuscafe-content {
    font-size: 16px;
}

/* Sidebar styling changes dependent on screen size */
aside{
    max-width: 20vw;
    margin-left: 2rem;
    padding-left: 2rem;
    border-left: 2px solid #2e2e2e;
    margin-bottom: 3rem;
}

@media only screen and (orientation: portrait) {
    body{
        margin-left: 4vw;
        margin-right: 4vw;
    }
    aside{
        display: none;
        max-width: 100%;
        margin-top: -2rem;
        padding-top: 5px;
        margin-bottom: 1rem;
        padding-left: 0px;
        margin-left: 0px;
        border-bottom: 2px solid #2e2e2e;
        border-left: 0px;
    }
}

/* Add SF Mono font to site */
@font-face {
    font-family: SF Mono;
    src: url(assets/mono.otf);
}

@font-face {
    font-family: SF Mono;
    src: url(assets/monob.otf);
    font-weight: bold;
}