body{
background-image: url(assets/catalina.jpg);
background-position: center;
color: #1f1f1f;
font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
font-display: fallback;
}

main {
    margin-left: 10vw;
    margin-right: 10vw;
}

/* Make images not flow over the designated content width */
img {
    max-width: 100%;
    height: auto;
}

/* Tell sidebar to stay put on the right */
aside{
    float: left;
}

/* Change seperator element color for more subtle-ness */
hr{
    color: #2e2e2e;
    border-color: #2e2e2e;
    border-style: solid;
}

/* Used for navbar styling */
.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.flex-container > a {
    margin-bottom: 0.5rem;
    text-align: center;
}

/* Show navbar on the bottom for mobile devices */
@media only screen and (orientation: portrait) {
    .flex-container {
        position: fixed;
        left: 0px;
        margin-left: 0vw;
        margin-right: 0vw;
        bottom: 0px;
        margin: bottom 0px;
        width: 100vw;
        background-color: white;
    }
    .flex-container > a {
        width: 15%;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    body {
        padding-bottom: 3rem;
    }
}

/* Change links to be black */
a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* Statuscafe stuff */
#statuscafe-username {
    font-size: 16px;
}
#statuscafe-content {
    font-size: 16px;
}

/* Sidebar styling changes dependent on screen size */
aside{
    max-width: 20vw;
    margin-right: 2rem;
    padding-right: 2rem;
    margin-bottom: 3rem;
    background-image: blur(2px);
}

.top {
    background-image: linear-gradient(to top, #cdcdcd, #e5e5e5);
}

.top > hr {
    color: #c8c8c8;
    border-color: #c8c8c8
}

.head {
    margin-left: 10vw;
    margin-right: 10vw;
}

.nav {
    margin-left: 10vw;
    margin-right: 10vw;
}

@media only screen and (orientation: portrait) {
    body{
        margin-left: 4vw;
        margin-right: 4vw;
    }
    aside{
        max-width: 100%;
        margin-top: -2rem;
        padding-top: 5px;
        margin-bottom: 1rem;
        padding-left: 0px;
        margin-left: 0px;
        border-bottom: 2px solid #2e2e2e;
        border-left: 0px;
    }
}

/* Add SF Mono font to site */
@font-face {
    font-family: SF Mono;
    src: url(assets/mono.otf);
}

@font-face {
    font-family: SF Mono;
    src: url(assets/monob.otf);
    font-weight: bold;
}

@font-face {
    font-family: HelveticaNeue;
    src: url(assets/HelveticaNeue-Roman.otf);
}

@font-face {
    font-family: HelveticaNeue;
    src: url(assets/HelveticaNeue-Bold.otf);
    font-weight: bold;
}