body{
background-color: black;
color: white;
margin-left: 10vw;
margin-right: 10vw;
font-family: SF Mono, monospace;
font-display: fallback;
}

aside{
    float:right;
}

iframe{
    border: 0px;
    font-display: fallback;
}

.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-between
}

.flex-container > a {
    margin-bottom: 0.5rem;
    text-align: center;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

h1{
    text-shadow: 0px 0px 10px #0070c0, 0px 0px 20px #008bd4, 0px 0px 30px #00a2e5;
    font-size: 45px;
}

@media only screen and (max-width: 800px) {
    aside{
        width: 100vw;
        margin-top: -2rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 800px) {
    aside{
        max-width: 20vw;
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 800px) {
    #aeroring{
        width: 90vw;
    }
}

@media only screen and (min-width: 800px) {
    #aeroring{
        margin-left: 0px;
        margin-right: auto;
        width: 20vw;
    }
}


#statuscafe-username {
    font-size: 16px;
}
#statuscafe-content {
    font-size: 16px;
}

@font-face {
    font-family: SF Mono;
    src: url(assets/mono.otf);
}

@font-face {
    font-family: SF Mono;
    src: url(assets/monob.otf);
    font-weight: bold;
}