<link rel="stylesheet" href="style.css">
<head>
<title>Oli's Internet Corner</title>
</head>
<body>
<header>
<h1 style="text-align: center">Oli's Internet Corner</h1>
<h2 style="text-align: center">Welcome to my little personal site!</h2>
<div class="flex-container">
<a href="#">Home Page</a>
<a href="#">About Me</a>
<a href="blog/">Blog Thing</a>
<a href="#">My Links</a>
<a href="#">Neko Chat</a>
</div>
<hr>
</header>
<main>
<aside>
    {% include "status.html" %}
    <hr>
    {% renderFile "./_includes/til.md" %}
</aside>
{{ content | safe}}
</main>
</body>