<link rel="stylesheet" href="style.css">
<head>
<title>Oli's Internet Corner</title>
</head>
<body>
<header>
<h1 style="text-align: center">Oli's Internet Corner</h1>
<h2 style="text-align: center">Welcome to my little personal site!</h2>
<div class="flex-container">
<div>
<a href="#">Home Page</a>
<a href="#">About Me</a>
<a href="blog/">Blog Thing</a>
<a href="#">Links</a>
<a href="#">Nekochat</a>
</div>
</div>
<hr>
</header>
<main>
<aside>
    <iframe src="til/index.html"></iframe>
</aside>
{{ content | safe}}
</main>
</body>