<link rel="stylesheet" href="style.css">
<head>
<title>Oli's Blog Thing</title>
</head>
<body>
<header>
<h1>Oli's Blog Thing</h1>
<h2>A place where I dump my thoughts in little (or big) text blocks I call blog posts. Not sure if they qualify as blog posts though.</h2>
<hr>
</header>
<main>
<aside>
    <iframe src="til/index.html"></iframe>
</aside>
{{ content | safe}}
</main>
</body>