<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://darkosparko.nekoweb.org/webrings/apartments-webring/apartment-webring-style.css">
<head>
<title>Oli's Internet Corner</title>
<link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
<header>
<h1 style="text-align: center; margin-bottom: -10px; text-shadow: 0px 0px 10px #0070c0, 0px 0px 20px #008bd4, 0px 0px 30px #00a2e5; font-size: 45px">Oli's Internet Corner</h1>
<h2 style="text-align: center">Welcome to my little personal site!</h2>
{% include "nav.njk" %}
<hr>
</header>
<main>
<aside>
    {% include "status.html" %}
    {% include "lastfm.html" %}
    {% renderFile "./_includes/to-do.md" %}
</aside>
{{ content | safe}}
<div>
<h2>Apartment Webring</h2>
<div id='apartment-webring' style="margin-left: 0px; margin-right: auto">
    <script type="text/javascript" src="https://darkosparko.nekoweb.org/webrings/apartments-webring/apartment-webring-variables.js"></script>
    <script type="text/javascript" src="https://darkosparko.nekoweb.org/webrings/apartments-webring/apartment-webring-widget.js"></script>
</div>
<h2>Git Gud Ring</h2>
<script defer src="https://mechagic.party/1stylescripts/gitgudring.js"></script>
<h2>AeroRing</h2>
<div id='aeroring'>
<script src="https://theoliveoli.blahaj.land/aeroring/pmoring.js"></script>
</div>
</div>
</main>
</body>