<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://darkosparko.nekoweb.org/webrings/apartments-webring/apartment-webring-style.css">
<head>
<title>Oli's Internet Corner</title>
</head>
<body>
<header>
<h1 style="text-align: center; margin-bottom: -10px">Oli's Internet Corner</h1>
<h2 style="text-align: center">Welcome to my little personal site!</h2>
{% include "nav.njk" %}
<hr>
</header>
<main>
<aside>
    <hr>
    {% include "status.html" %}
    <hr>
    {% include "lastfm.html" %}
    <hr>
    {% renderFile "./_includes/to-do.md" %}
    <hr>
</aside>
{{ content | safe}}
<div>
<h2>Apartment Webring</h2>
<div id='apartment-webring' style="margin-left: 0px; margin-right: auto">
    <script type="text/javascript" src="https://darkosparko.nekoweb.org/webrings/apartments-webring/apartment-webring-variables.js"></script>
    <script type="text/javascript" src="https://darkosparko.nekoweb.org/webrings/apartments-webring/apartment-webring-widget.js"></script>
</div>
<h2>AeroRing</h2>
<div id='aeroring'>
<script src="https://theoliveoli.blahaj.land/aeroring/pmoring.js"></script>
</div>
</div>
</main>
</body>