<link rel="stylesheet" href="/style/base.css">
<link rel="stylesheet" href="/style/nav.css">
<head>
<title>Oli's Internet Corner</title>
<link rel="icon" type="image/png" href="/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="mobilesidebar">
<a href="javascript:history.back()"><< Back</a>
</div>
<div class="navigation">
{% include "nav.njk" %}
</div>
<main>
<div class="sidecontainer">
<h2>Sidebar</h2>
<hr>
{% include "status.html" %}
{% include "lastfm.html" %}
{% renderFile "./_includes/to-do.md" %}
</div>
</main>