<link rel="stylesheet" href="/style/base.css">
<link rel="stylesheet" href="/style/nav.css">
<div class="navcontainer">
<a href="/">Home Page</a>
<a href="/about/">About Me</a>
<a href="/blog/">Blog Thing</a>
<a href="/links/">My Links</a>
</div>