<link rel="stylesheet" href="style.css">
<script type="text/javascript" defer src="https://nekochat.mldchan.dev/js/nekochat.js"></script>
<link rel="stylesheet" href="https://nekochat.mldchan.dev/css/nekochat.css">
<head>
<title>Oli's Internet Corner</title>
<link rel="icon" type="image/png" href="/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
<h1 style="text-align: center; margin-bottom: -10px; text-shadow: 0px 0px 10px #0070c0, 0px 0px 20px #008bd4, 0px 0px 30px #00a2e5; font-size: 45px">Oli's Internet Corner</h1>
<h2 style="text-align: center">Welcome to my little personal site!</h2>
{% include "nav.njk" %}
<hr>
</header>
<main>
{{ content | safe}}
<a href="https://nekochat.mldchan.dev/">
    Add NekoChat to your own site!
</a>
<p>
Report abuse to <a href="mailto:mldkyt@proton.me">mldkyt@proton.me</a>
</p>
<div class="nekochat-container">
    <div class="nekochat-chat-box">
        <div class="nekochat-message-list" id="nekochat-messages"></div>
        <form class="nekochat-message-form" method="POST" action="https://nekochat.mldchan.dev/chat" id="nekochat-form">
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            <textarea id="message" name="content" placeholder="Type your message here..." required></textarea>
            <button type="submit">Send Message</button>
        </form>
    </div>
</div>
<div>
</div>
</div>
</main>
</body>