<link rel="stylesheet" href="../../../style.css">
<head>
<title>Oli's Blog Thing</title>
</head>
<body>
<header>
<h1 style="text-align: center">Oli's Blog Thing</h1>
<h2 style="text-align: center">A place where I dump my thoughts in little (or big) text blocks I call blog posts. Not sure if they qualify as blog posts though.</h2>
<div class="flex-container">
<a href="../../../">Home Page</a>
<a href="#">About Me</a>
<a href="../../">Blog Thing</a>
<a href="#">My Links</a>
<a href="#">Neko Chat</a>
</div>
<hr>
</header>
<main>
{{ content | safe}}
</main>
</body>