<link rel="stylesheet" href="/style/base.css">
<link rel="stylesheet" href="/style/title.css">
<link rel="stylesheet" href="/style/nav.css">
<head>
<title>Oli's Blog Thing</title>
<link rel="icon" type="image/png" href="/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
<a href="/"><h1 class="title">Oli's Blog Thing</h1></a>
<a href="/"><h1 class="mobiletitle">Oli's Blog Thing</h1></a>
<h2 class="subtitle">A place where I dump my thoughts in small (or big) text blocks.</h2>
<h3 class="mobilesubtitle">A place where I dump my thoughts in small (or big) text blocks.</h2>
</header>
<div class="mobilesidebar">
<a href="/sidebar">Sidebar >></a>
</div>
<div class="navigation">
{% include "nav.njk" %}
</div>
<hr>
<main>
{{ content | safe}}
</main>
</body>