body{
background-color: black;
color: white;
margin-left: 10vw;
margin-right: 10vw;
font-family: SF Mono;
}

aside{
    float:right;
}

iframe{
    height: 100%;
    border: 0px;
}

a{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

@font-face {
    font-family: SF Mono;
    src: url(mono.otf);
}

@font-face {
    font-family: SF Mono;
    src: url(monob.otf);
    font-weight: bold;
}